/* Basscss Color Base */
@use '../variables' as *;

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}
a:visited {
  text-decoration: none;
}

pre,
code {
  background-color: var(--code-bg);
  color: var(--code-text);
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: var(--border-color);
}
